/*
@kyfromes Animation Name{
from{
properties
}
to{
properies
}


0%{}
25%{}
50%{}
75%{}
100{}
}

animatiion-name:



*/

.box{
    width: 150px;
    height: 150px;
    /* background-color: red; */
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /* animation-direction:alternate-reverse ; */
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    /* animation-delay: 3s; */

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 3px solid rgb(134, 132, 132);
    border-top: 3px solid blue;

}

.box:hover{
    animation-play-state: paused;
}

@keyframes moveBox{
    /* from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(500px);
        background-color: green;
    } */
     /* 0%{
        transform: translate(0px,0px);
     }
     25%{
        transform: translate(500px,0px);
     }
     50%{
        transform: translate(500px,500px);
     }
     75%{
        transform: translate(0px,500px);
     }
      100%{
        transform: translate(0px,0px);
     } */
}


@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.typing{
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s infinite steps(40);
    border-right: 4px solid red;
}

@keyframes typing{
    from{
        width: 0%;
    }
    to{
        width:600px;
    }
}
.text{
    background-color: cadetblue;
    animation: scroll 10s linear infinite;
    display: inline-block;
}
@keyframes scroll{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(500%);
    }
}

/*
-background-color:color name;
-background-image:url("path")
-background-repeat:
-background-position:
-backgromt-size:
background-attachment:
-backgroun:
-linear-gradient
-radical-gradiant
-conic-gradient


*/